{% extends "layout.html" %}

{% block main %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Background</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
			<button class="btn btn-sm btn-outline-secondary">Share</button>
			<button class="btn btn-sm btn-outline-secondary">Export</button>
			</div>
			<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
			<span data-feather="calendar"></span>
			This week
			</button>
		</div>
		</div>
				
		<p id="backgroundText"></p>

		<p id="economyText"></p>

		<p>Source: CIA World Factbook</p>

	</main>
	</div>

	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<!-- Icons -->
	<script>
		feather.replace()
	</script>

	<script>

		// Get LATEST WORLD FACTBOOK
		$.ajax({
			type:"GET",
			url:"https://raw.githubusercontent.com/iancoleman/cia_world_factbook_api/master/data/factbook.json",
			async:false,
			dataType: "json",
			success: function(data) {
			console.log("CIA World Factbook finished loading... " + Object.keys(data.countries).length + " entries");
			$("#backgroundText").html(data.countries.united_kingdom.data.introduction['background']);
			$("#economyText").html(data.countries.united_kingdom.data.economy['overview'])
			console.log(data.countries.united_kingdom.data);
			},
			error: function(errorMessage){
				console.error("World Factbook API is not responding...")
			}
		});

	</script>

{% endblock %}