{% extends "layout.html" %}

{% block main %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Map</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button class="btn btn-sm btn-outline-secondary disabled">Overlay Options -></button>
					<button id="btnPopulationLayer" class="btn btn-sm btn-outline-secondary">Population</button>
					<button id="btnEconomicLayer" class="btn btn-sm btn-outline-secondary">Economy</button>
					<button id="btnPoliticsLayer" class="btn btn-sm btn-outline-secondary">Politics</button>
					<button id ="btnDeprivationLayer" class="btn btn-sm btn-outline-secondary">Deprivation</button>
				</div>
				<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
				<span data-feather="calendar"></span>
				This week
				</button>
			</div>
		</div>
		
		<div id='mapSpinner' class="d-flex justify-content-center">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>	
		<div id="mapid"></div>

		<p>Source Data: <a id="mapDataSource" href="#" target="blank">...</a></p>

	</main>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
	<script src="{{url_for('static', filename='js/map.js')}}"></script>
	<script src="{{url_for('static', filename='js/election.js')}}"></script>

	<!-- Enable full screen map -->
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

	<!-- Icons -->
	<script>
		feather.replace()
	</script>

	<!-- Map -->
	<script>

		// function to add commas to large numbers
		function numberWithCommas(x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}

		// initialize the map on the "map" div with a given center and zoom
		var map = L.map('mapid').setView([54.509, -3.61], 6);  // [long, lat], zoom  -1.61, 52.909

		// add background tile settings
		L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
		maxZoom: 10,
		minZoom: 6,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11'
		}).addTo(map);
		L.control.fullscreen().addTo(map);

		$('#mapSpinner, .spinner-border').css('display', 'none');

		// function to set rules for colours for population density
		function getPopulationColor(d) {
          return d > 1000 ? '#800026' :
                d > 500  ? '#BD0026' :
                d > 200  ? '#E31A1C' :
                d > 100  ? '#FC4E2A' :
                d > 50   ? '#FD8D3C' :
                d > 20   ? '#FEB24C' :
                d > 10   ? '#FED976' :
                            '#FFEDA0';
		}
		  
		// function to set rules for colours for election results
		function getElectionResultColor(result) {
			return result == 'Con' ? 'blue':
				result == 'Lab'   ? 'red' : 
				result == 'LD'    ? '#E79B50' : 
				result == 'Green' ? '#52DF00' :
				result == 'DUP'   ? '#D21311' :
				result == 'PC'    ? '#006A56' : 
				result == 'SDLP'  ? '#006E51' : 
				result == 'SF'    ? '#258C43' :
				result == 'SNP'   ? 'yellow' :
				result == 'Alliance' ? '#F4C72E' :
								    "pink"
		}

		// function to set rules for colours for gross value added
		function getEconomicColor(metric) {
			return metric > 97266 ? '#1a9850' :
				metric > 75000  ? '#66bd63' :
				metric > 50000  ? '#a6d96a' :
				metric > 18041  ? '#d9ef8b' :
				metric > 15000  ? '#fee08b' :
				metric > 12000  ? '#fdae61' :
				metric > 7000   ? '#f46d43' :
                            	'#d73027';
		}

		// function to set rules for colors for deprivation ranks
		function getDeprivationColor(rank) {
			return rank > 300  ? '#006837' :
				rank > 270  ? '#1a9850' :
				rank > 240  ? '#66bd63' :
				rank > 210  ? '#a6d96a' :
				rank > 180  ? '#d9ef8b' :
				rank > 150  ? '#ffffbf' :
				rank > 120  ? '#fee08b' :
				rank > 90  ? '#fdae61' :
				rank > 60  ? '#f46d43' :
				rank > 30  ? '#d73027' :
				rank > 0   ? '#d73027' :
                            '#FAFAF8';
		}

		// Next we define a styling function for our GeoJSON layer so that its fillColor depends on feature.properties.density property, 
		// also adjusting the appearance a bit and adding a nice touch with dashed stroke.
		function style(feature) {
			return {
				fillColor: getPopulationColor(feature.properties['2018 people per sq. km']),
				weight: 0.5,
				opacity: 1,
				color: 'black',
				dashArray: '3',
				fillOpacity: 0.7
			};
		}

		// Now let’s make the states highlighted visually in some way when they are hovered with a mouse.
		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 2.5,
				color: '#666',
				dashArray: '',
				fillOpacity: 0.7
			});

			if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
				layer.bringToFront();
			}

			info.update(layer.feature.properties);
		}

		// Define what happens when mouse leaves polygon
		function resetHighlight(e) {
			geojsonLayers.mapData.resetStyle(e.target);
			info.update();
		}

		// As an additional touch, let’s define a click listener that zooms to the state:
		function zoomToFeature(e) {
			map.fitBounds(e.target.getBounds());
		}
		
		// Now we’ll use the onEachFeature option to add the listeners on our state layers:
		function onEachFeature(feature, layer) {
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: zoomToFeature
			});
		}

		// We could use the usual popups on click to show information about different states, but we’ll choose a different route 
		// — showing it on state hover inside a custom control.
		var info = L.control();

		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
			this.update();
			return this._div;
		};

		// method that we will use to update the control based on feature properties passed
		info.update = function (props) {
			this._div.innerHTML = '<h5>Population Density</h5>' +  (props ?
				'<b>' + props.LAD19NM + '</b><br />' + props['Area (sq km)'] + ' sq. km' + '<br />'
				+ props['2018 people per sq. km'] + ' people per sq. km' +
				'<br />' + props['Estimated Population mid-2018'] + ' people total' + '<br />'
				: 'Hover over a boundary <br /> Scroll to zoom');
		};

		// add info custom control to map
		info.addTo(map);

		// CREATE THE BASE LAYERS
		var geojsonLayers = {
			'mapData': L.geoJson(mapData, {
				style: function(feature) {
					return {
						fillColor: getPopulationColor(feature.properties['2018 people per sq. km']),
						weight: 0.5,
						opacity: 1,
						color: 'black',
						dashArray: '3',
						fillOpacity: 0.7
					};
			},
				// change this to population specific?
				onEachFeature: onEachFeature
			}),
			'electionData': L.geoJson(electionResults, {
				style: function(feature) {
					return {
						fillColor: getElectionResultColor(feature.properties['first_party']),
						weight: 0.5,
						opacity: 1,
						color: 'black',
						dashArray: '3',
						fillOpacity: 0.7
					};
				},
				onEachFeature: function(feature, layer) {
					layer.on({
						mouseover: highlightFeature,
						mouseout: function(e) {
							geojsonLayers.electionData.resetStyle(e.target);
							info.update();
						},
						click: zoomToFeature
					});
				}
			}),
			'economicData': L.geoJson(mapData, {
				style: function(feature) {
					return {
						fillColor: getEconomicColor(feature.properties['2018 GVA GBP million']),
						weight: 0.5,
						opacity: 1,
						color: 'black',
						dashArray: '3',
						fillOpacity: 0.7
					};
				},
				onEachFeature: function(feature, layer) {
					layer.on({
						mouseover: highlightFeature,
						mouseout: function(e) {
							geojsonLayers.economicData.resetStyle(e.target);
							info.update();
						},
						click: zoomToFeature
					});
				}
			}),
			'deprivationData': L.geoJson(mapData, {
				style: function(feature) {
					return {
						fillColor: getDeprivationColor(feature.properties['2019 IMD - Rank']),
						weight: 0.5,
						opacity: 1,
						color: 'black',
						dashArray: '3',
						fillOpacity: 0.7
					};
				},
				onEachFeature: function(feature, layer) {
					layer.on({
						mouseover: highlightFeature,
						mouseout: function(e) {
							geojsonLayers.deprivationData.resetStyle(e.target);
							info.update();
						},
						click: zoomToFeature
					});
				}
			})
		};

		// CREATE FUNCTION THAT WILL REMOVE ALL BASE LAYERS
		function removeAllLayers() {
			for (var property in geojsonLayers) {
				map.removeLayer(geojsonLayers[property])
			}
		}
		
		// add population layer to map
		$('#mapDataSource').text('ONS Population Estimates').attr('href', 'https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland')
		map.addLayer(geojsonLayers.mapData);

		// Update map with layers based upon conditions
		$('#btnPoliticsLayer').click(function() {
			removeAllLayers();

			// update hover panel
			info.update = function (props) {
				this._div.innerHTML = '<h5>Election Results 2019</h5>' +  (props ?
					'<b>' + props.pcon17nm + '</b><br /><b>' + props.result + '</b><br /><br />' 
					+ 'Majority: ' + props.majority + '<br />'
					+ 'Second Party: ' + props.second_party + '<br />'
					+ 'Electorate: ' + props.electorate + '<br />'
					+ 'Valid Votes: ' + props.valid_votes + '<br />'
					+ 'Turnout: ' + (((props.valid_votes + props.invalid_votes) / props.electorate) * 100).toFixed(2) + '% <br />'
					+ 'MP: ' + props.mp_firstname + ' ' + props.mp_surname

					: 'Hover over a boundary <br /> Scroll to zoom' +
					'<br /><br /><a href="https://members.parliament.uk/" target="_blank">Find your MP</a> <i class="fa fa-external-link"></i>');
			};
			
			// call update method
			info.update();

			// add layer
			map.addLayer(geojsonLayers.electionData);

			// update data source caption
			$('#mapDataSource').text('Commons Library Briefing Paper - 2019 General Election Results').attr('href', 'https://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-8749')
		});

		$('#btnPopulationLayer').click(function() {
			removeAllLayers();
			info.update = function (props) {
				this._div.innerHTML = '<h5>Population Density</h5>' +  (props ?
					'<b>' + props.LAD19NM + '</b><br />' + props['Area (sq km)'] + ' sq. km' + '<br />'
					+ props['2018 people per sq. km'] + ' people per sq. km' +
					'<br />' + props['Estimated Population mid-2018'] + ' people total' + '<br />'
					: 'Hover over a boundary <br/> Scroll to zoom');
			};
			info.update();
			map.addLayer(geojsonLayers.mapData);
			$('#mapDataSource').text('ONS Population Estimates').attr('href', 'https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland')
		});

		$('#btnEconomicLayer').click(function() {
			removeAllLayers();
			info.update = function (props) {
				this._div.innerHTML = '<h5>Gross Value Added</h5>' +  (props ?
					'<b>' + props.LAD19NM + '<br /><br />GVA £m: ' + props['2018 GVA GBP million']
					+ '<br />Median Income: ' + props['2018 Median Salary']
					+ '<br/>Mean Income: ' + props['2018 Mean Salary']
					: 'Gross value added (GVA) is a measure of the increase in the value' + 
					'<br/>of the economy due to the production of goods and services.' +
					'<br/><br/>Hover over a boundary <br/> Scroll to zoom');
			};
			info.update();
			map.addLayer(geojsonLayers.economicData);
			$('#mapDataSource').text('ONS Gross value added regionally').attr('href', 'https://www.ons.gov.uk/economy/grossvalueaddedgva/bulletins/regionalgrossvalueaddedbalanceduk/1998to2017')
		});

		$('#btnDeprivationLayer').click(function() {
			removeAllLayers();
			info.update = function (props) {
				this._div.innerHTML = '<h5>Indices of Deprivation</h5>' +  (props ?
					'<b>' + props.LAD19NM + '<br /><br />Rank: ' + props['2019 IMD - Rank']
					: 'The Indices of Deprivation 2019 provide a set of relative' +
					'<br/>measures of deprivation. The domains were combined using' + 
					'<br/>the following weights:' +
					'<ul><li>Income Deprivation (22.5%)</li><li>Employment Deprivation (22.5%)</li>' +
					'<li>Education, Skills and Training Deprivation (13.5%)</li><li>Health Deprivation and Disability (13.5%)</li>' +
					'<li>Crime (9.3%)</li><li>Barriers to Housing and Services (9.3%)</li><li>Living Environment Deprivation (9.3%)</li></ul>' +
					'<br/>Hover over a boundary <br/> Scroll to zoom');
			};
			info.update();
			map.addLayer(geojsonLayers.deprivationData);
			$('#mapDataSource').text('GOV.UK English Indices of Deprivation 2019').attr('href', 'https://www.gov.uk/government/statistics/english-indices-of-deprivation-2019')
		});
		
	
	</script>

{% endblock %}