{% extends "layout.html" %}

{% block main %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Population</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
			<button class="btn btn-sm btn-outline-secondary">Share</button>
			<button class="btn btn-sm btn-outline-secondary">Export</button>
			</div>
			<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
			<span data-feather="calendar"></span>
			This week
			</button>
		</div>
		</div>

		<div class="table-responsive">
		<table class="table table-hover table-striped table-sm">
			<thead>
				<tr>
					<th>Metric</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr id="populationRow">
					<td><b>Population</b><i id="populationHelpIcon" class="fa fa-question-circle helpIcon" data-toggle="popover" title="Population" data-content="The total population of the UK according to World Bank estimates. Chart shows population trend." onclick="$(this).toggleClass('helpActive')"></i></td>
					<td id="populationValue">...</td>
				</tr>
				<tr>
					<td id="birthsRow">Birth Rate</td>
					<td id="birthsValue">...</td>
				</tr>
				<tr>
					<td>Death Rate</td>
					<td id="deathsValue">...</td>
				</tr>
				<tr>
					<td class="ageRows">Youths</td>
					<td id="youthValue">...</td>
				</tr>
				<tr>
					<td class="ageRows">Adults</td>
					<td id="middleValue">...</td>
				</tr>
				<tr>
					<td class="ageRows">Over 65s</td>
					<td id="elderlyValue">...</td>
				</tr>
				<tr>
					<td id="migrantRow"><b>Migration Rate</b></td>
					<td id="migrantValue">...</td>
				</tr>
			</tbody>
		</table>
		</div>

		<div id="chartDiv">
			<button id="btnFullScreen"class="btn btn-outline-secondary btn-sm">
				<span data-feather="maximize"></span>
			</button>
			<canvas class="my-4 w-100" id="myChart" width="900" height="250"></canvas>
			<canvas class="my-4 w-100" id="myBarChart" width="900" height="250" style="display:none"></canvas>
		</div>
	
	</main>
	</div>

	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="{{url_for('static', filename='js/population.js')}}"></script>

	<!-- Templated JS -->
	<script>
		$("#migrantRow").click(function() {
			$('#myBarChart').css('display', 'none');
			$('#myChart').css('display', 'block');
			myChart.data.datasets[0].data = [{% for item in netMigration %}{{item | safe}},{% endfor%}];
			myChart.data.labels = [{% for year in years %}'{{ year | safe}}',{% endfor %}]; 
			myChart.options.title.text = ['UK Net Migration', 'Source: ONS (http://shorturl.at/qxyF8)'];
			myChart.update();
		});
	</script>

	<!-- Icons -->
	<script>
		feather.replace()
	</script>

{% endblock %}