{% extends "layout.html" %}

{% block main %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Sources</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
			<button class="btn btn-sm btn-outline-secondary">Share</button>
			<button class="btn btn-sm btn-outline-secondary">Export</button>
			</div>
			<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
			<span data-feather="calendar"></span>
			This week
			</button>
		</div>
		</div>
				
		<h3>Map Data</h3>

		<ul>
			<li><a href="https://geoportal.statistics.gov.uk/datasets/local-authority-districts-april-2019-boundaries-uk-bfc">ONS Open Geography Portal</a></li>
			<li><a href="https://opendata.arcgis.com/datasets/16221426b9ee468d9c80f8398ded851f_0.geojson">ONS Map API</a></li>
		</ul>

		<h3>Country and History Data</h3>

		<ul>
			<li><a href="https://history.muffinlabs.com/" target="_blank">Today In History</a></li>
			<li><a href="https://www.cia.gov/library/publications/the-world-factbook/">CIA World Factbook</a></li>
			<li><a href="https://github.com/iancoleman/cia_world_factbook_api">CIA World Factbook API</a></li>
		
		</ul>

		<h3>Election Data</h3>

		<ul>
			<li><a href="https://flourish.studio/2019/11/26/charts-for-the-uk-elections-2019/">Flourish</a></li>
			<li><a href="https://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-8749">Parliament Research Briefings</a></li>
		</ul>

		<h3>Population Data</h3>

		<ul>
			<li><a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/889386-developer-information-overview">World Bank API</a></li>
			<li><a href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland">ONS Population Estimates</a></li>
			<li><a href="https://www.isdscotland.org/Health-Topics/Maternity-and-Births/Publications/data-tables2017.asp?id=2553#2553">Births in Scotland</a></li>
			<li><a href="https://www.nisra.gov.uk/publications/monthly-births">Births in NI</a></li>
		</ul>

		<h3>Economic Data</h3>

		<ul>
			<li><a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/datasets/placeofresidencebylocalauthorityashetable8">ONS Earnings and Working Hours</a></li>
			<li><a href="https://www.theglobaleconomy.com/United-Kingdom/" target="_blank">The Global Economy Economic Indicators</a></li>
		</ul>

	</main>
	</div>

	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<!-- Icons -->
	<script>
		feather.replace()
	</script>

{% endblock %}